body {
  background-color: black;
  color: whitesmoke;
}

.app-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
  padding: 15px;
  border: solid whitesmoke 3px;
}